{% extends "Base.html" %}
{% load static %}
{% block title %} pictures list {% endblock %}

{% block my_breadcrumb %}
    <div class="page-header-content header-elements-md-inline"
         style="max-height: 60px;display: flex;align-items: center;">
        <div class="page-title">
            <h5>
                <i class="icon-arrow-right6 mr-2"></i> <span class="font-weight-semibold">pictures list</span>
            </h5>
        </div>
    </div>

    <div class="breadcrumb-line header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">

                <a href="{% url 'core:home' %}" style="color: blue;">
                    <i class="icon-home2"></i>
                    home
                </a>

                {% if user_is_authenticated %}
                    <a href="{% url 'core:logout' %}" style="color: blue;margin-left: 30px;">
                        <i class="icon-exit"></i>
                        logout
                    </a>

                    <a href="{% url 'core:category_management' %}" style="color: blue;margin-left: 30px;">
                        <i class="icon-list2"></i>
                        category management
                    </a>

                    <a href="{% url 'core:create_category' %}" style="color: blue;margin-left: 30px;">
                        <i class="icon-add-to-list"></i>
                        create new category
                    </a>

                    <a href="{% url 'core:add_new_picture' %}" style="color: blue;margin-left: 30px;">
                        <i class="icon-add-to-list"></i>
                        add new picture
                    </a>

                {% else %}
                    <a href="{% url 'core:login' %}" style="color: blue;margin-left: 30px;">
                        <i class="icon-enter"></i>
                        login
                    </a>
                {% endif %}


            </div>
        </div>
    </div>

{% endblock my_breadcrumb %}
{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline h-4" style="background-color:#e4e6e7;padding:8px;">
            <h6 class="card-title">pictures list</h6>
        </div>

        <div class="tab-pane" id="user_change_password_form">
            <div class="card-body py-0">
                <div class="row">

                    <form method="post" class="col-md-12" id="getSelectedCategoryPicturesForm">
                        {% csrf_token %}

                        <fieldset style="margin-top: 10px;">

                            <div class="row col-md-12" style="margin-top: 10px;overflow-x: auto;">

                                <div class="col-md-3">
                                    <div class="form-group form-group-feedback form-group-feedback-right">
                                        <label for="category_selection">choose category :</label>
                                        <select id="category_selection"
                                                class="form-control border-bottom-light border-1 col-md-12"
                                                style="direction: ltr;"
                                                name="category">
                                            <option value="">---------------------------------------------</option>
                                            {% for category in all_categories %}
                                                <option value="{{ category.uuid }}">{{ category.name }}</option>
                                            {% endfor %}

                                        </select>
                                        <span style="color: red"
                                              id="category_selection_err">{{ form.category_selection.errors }}</span>
                                    </div>
                                </div>


                                <div style="display: grid;padding-top: 8px;">
                                    <a type="submit" style="margin: auto;"
                                       onclick="picturesListSelectCategory(event);"
                                       class="btn btn-outline bg-slate-600 text-slate-600 border-slate-600 align-middle">
                                        submit
                                    </a>
                                </div>

                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}