{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>login</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{% static 'global_assets/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">

    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="{% static 'global_assets/js/main/jquery.min.js' %}" defer></script>
    <script src="{% static 'global_assets/js/main/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'global_assets/js/plugins/loaders/blockui.min.js' %}" defer></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="{% static 'global_assets/js/plugins/forms/styling/uniform.min.js' %}" defer></script>
    <script src="{% static 'assets/js/app.js' %}" defer></script>
    <script src="{% static 'global_assets/js/demo_pages/login.js' %}" defer></script>
    <!-- /theme JS files -->

    <script src="{% static 'global_assets/js/main/jquery.min.js' %}"></script>


</head>

<body>
<!-- Page content -->
<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">

            <!-- Login card -->
            <form class="login-form" method="post">
                {% csrf_token %}
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                            <h5 class="mb-0">login</h5>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control" name="username" placeholder="username">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                            <span style="color: red;">{{ form.username.errors }}</span>
                        </div>


                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="password" name="password" class="form-control" placeholder="password">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                            <span style="color: red;">{{ form.password.errors }}</span>
                        </div>
                        <span style="color: red;">{{ err_message }}</span>


                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"><i
                                    class="icon-circle-right2 ml-2"></i> &nbsp;&nbsp;&nbsp; submit
                            </button>
                        </div>

                        <div style="margin-bottom: 40px;">
                            <div style="position: absolute; left: 30px;">
                                <a href="{% url 'core:home' %}" style="color: blue;">
                                    <i class="icon-home2"></i>

                                    home
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- /login card -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->

</body>

</html>
