{% load static %}
<script src="{% static 'global_assets/js/main/bootstrap.bundle.min.js' %}" defer></script>
<script src="{% static 'global_assets/js/plugins/loaders/blockui.min.js' %}" defer></script>
<script src="{% static 'template_assets/js/app.js' %}" defer></script>

<script src="{% static 'global_assets/js/demo_pages/extra_pnotify.js' %}" defer></script>
<script src="{% static 'global_assets/js/plugins/notifications/pnotify.min.js' %}" defer></script>
<script src="{% static 'global_assets/js/alert.js' %}" defer></script>


<script src="{% static 'assets/js/alert_notif.js' %}" defer></script>
<script src="{% static 'assets/js/custom.js' %}" defer></script>
