{% load static %}

<link href="{% static 'template_assets/css/components.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'global_assets/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'template_assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'template_assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'template_assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'template_assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'template_assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'global_assets/js/main/jquery.min.js' %}"></script>



